:root {
  --primary-color: #2b4074;
  --secondary-color: #f9f6e5;
  --heading-font-family: "Roboto Condensed", sans-serif;
  --defoult-font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  margin: 0 auto;
}

h5,
h6,
p,
button {
  font-family: var(--defoult-font-family);
  font-weight: 400;
  margin-bottom: 0;
}

header {
  background-color: var(--primary-color);
  height: 100px;
  padding: 17px 61px;
  position: relative;
}

.menu-button {
  position: absolute;
  top: 30px;
  right: 150px;
}

.intro {
  background-image: url("/images/bg-img.jpg");
  height: 668px;
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
}

.arrows {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 264px;
  width: 70px;
  height: 70px;
}

.arrow-back {
  background-color: var(--primary-color);
  padding: 22px 27px;
}

.arrow-forward {
  background-color: var(--secondary-color);
  padding: 22px 27px;
}

.intro h1 {
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 2px;
  padding: 107px 0 18px 0;
  text-transform: uppercase;
  max-width: 513px;
}

.intro h2 {
  font-size: 24px;
  line-height: 26px;
  max-width: 886px;
}

.main-button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 18px 46px;
  border-radius: 3px;
  border: none;
  margin-top: 28px;
  text-transform: uppercase;
}

.page-nav img {
  width: 10px;
  height: 10px;
  margin: 124px 10px 79px 0;
}

.promo {
  background-color: var(--primary-color);
  color: white;
  height: 192px;
  padding: 57px 150px;
  position: relative;
}

.promo h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.promo p {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
}

.promo-button {
  font-size: 18px;
  font-weight: 500;
  padding: 16px 15px;
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  border: none;
  position: absolute;
  top: 71px;
  right: 149px;
}

.services-content {
  padding-top: 90px;
  padding-left: 62px;
}

.services-content h2 {
  font-size: 48px;
  font-weight: 400;
}

.services-content h5 {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 400;
  padding-top: 64.4px;
  padding-bottom: 30.7px;
}

.services-content p {
  font-size: 18px;
  color: #797979;
  padding-top: 34.9px;
  padding-bottom: 134px;
  width: 351px;
}

.services-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 78.53px;
  padding-left: 87px;
  text-transform: uppercase;
}

.services-items h3 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  color: #4a4a4a;
}

.services-items img {
  width: 64px;
  padding-bottom: 28px;
}

.services-items > div {
  text-align: center;
}

.recent-work {
  background-image: url("/images/bg-portfolio.png");
  height: 618px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.recent-work h2 {
  color: white;
  font-size: 48px;
  padding: 80px 0 24px;
}

.recent-work p {
  font-size: 16px;
  font-weight: 700;
  color: #2b4074;
}

.portfolio {
  padding: 0 153px;
}

.portfolio img {
  width: 268px;
  height: 239px;
  margin: 74px 0 23px;
  margin-right: 23.5px;
  border-radius: 4px;
}

.team {
  width: 460px;
  height: 420px;
  margin: 80px 0 109px 150px;
  border-radius: 4px;
}

.video-block h2 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  margin: 80px 0 20px;
}

.video-block p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #9b9b9b;
  margin-top: 29px;
}

.team-content {
  padding-left: 0;
}

.latest-news {
  background-image: url("/images/bg-2.png");
  height: 1044px;
  text-align: center;
}

.latest-news h2 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  color: #4a4a4a;
  padding: 52px 0 0 19px;
}

.news-photo {
  padding: 115px 136px 0 135px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.news-photo p {
  background-color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 8px 19.14px 10px 20px;
}

.news-photo img {
  border-radius: 4px;
  width: 268px;
}
.cont1 {
  height: 444px;
}
.cont2 {
  height: 344px;
}
.cont3 {
  height: 385px;
}
.cont4 {
  height: 215px;
}
.cont5 {
  height: 197px;
  margin-top: 25px;
}
.cont6 {
  height: 343px;
  margin-top: -60px;
}
.cont7 {
  height: 218px;
  margin-top: -20px;
}
.cont8 {
  height: 437px;
  margin-top: -190px;
}

.testimonial {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #4a4a4a;
  padding: 100px 0 80px 0;
}

.testimonial h3 {
  padding: 30px 0;
  font-size: 36px;
}

.testimonial p {
  font-size: 24px;
  padding-bottom: 80px;
  margin-bottom: 0;
}

.testimonial img {
  height: 10px;
  padding-right: 8px;
}

.footer-logo {
  width: 230px;
  height: 60px;
  background-color: #2b4074;
  border-radius: 4px;
  text-align: center;
  display: block;
  margin: 23px auto 0;
}

.footer-content {
  background-color: #2b4074;
  color: white;
  height: 639px;
  font-family: "Roboto", sans-serif;
  margin-top: -30px;
}

.footer-content h3 {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 32px;
  font-weight: 400;
  padding-bottom: 80px;
  padding: 158px 0 80px 150px;
}

.footer-content h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  padding-bottom: 22px;
}

.footer-content p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.widgets {
  display: flex;
  justify-content: space-between;
  padding: 80px 308px 0 151px;
}

.social {
  color: white;
  display: flex;
  justify-content: space-around;
  border: 1px solid #7ebf84;
  padding: 26px 0 17px 0;
  border-left: none;
  border-right: none;
  margin: 0 150px;
}

.copyright {
  height: 42px;
  background-color: #f9f6e5;
  position: relative;
}

footer a,
a:hover {
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: #f9f6e5;
  position: absolute;
  bottom: 11px;
  right: 136px;
  text-decoration: none;
}
